/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [MyCountry]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 9/27/2017 9:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__devvn_ti__7A217E1365FB2712] PRIMARY KEY CLUSTERED 
(
	[CityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 9/27/2017 9:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[CityCode] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__devvn_qu__7A21E80B44A57598] PRIMARY KEY CLUSTERED 
(
	[DistrictCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/27/2017 9:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cities] ([CityCode], [Name], [Type], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'000000000000000000000000', N'0000000000000000000000', N'00000000000000000000000000000000000000', CAST(N'2017-09-17T11:10:30.890' AS DateTime), N'admin', CAST(N'2017-09-17T11:10:30.890' AS DateTime), N'admin')
INSERT [dbo].[Cities] ([CityCode], [Name], [Type], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'000000000000000001', N'000000000000000001', N'000000000000000001', CAST(N'2017-09-17T11:10:30.890' AS DateTime), N'admin', CAST(N'2017-09-17T11:10:30.890' AS DateTime), N'admin')
INSERT [dbo].[Cities] ([CityCode], [Name], [Type], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'01', N'Thành phố Hà Nội', N'Thành phố Trung ương', CAST(N'2017-09-17T11:10:30.890' AS DateTime), N'admin', CAST(N'2017-09-17T11:10:30.890' AS DateTime), N'admin')
INSERT [dbo].[Districts] ([DistrictCode], [Name], [Type], [CityCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'003', N'Quận Tây Ho 2', N'Quận', N'01', CAST(N'2017-09-17T11:10:30.880' AS DateTime), N'admin', CAST(N'2017-09-22T22:05:34.570' AS DateTime), N'phamvan')
INSERT [dbo].[Districts] ([DistrictCode], [Name], [Type], [CityCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'004', N'Quận Long Biên', N'Quận', N'01', CAST(N'2017-09-17T11:10:30.880' AS DateTime), N'admin', CAST(N'2017-09-17T11:10:30.880' AS DateTime), N'admin')
INSERT [dbo].[Districts] ([DistrictCode], [Name], [Type], [CityCode], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'005', N'Quận Cầu Giấy', N'Quận', N'01', CAST(N'2017-09-17T11:10:30.880' AS DateTime), N'admin', CAST(N'2017-09-17T11:10:30.880' AS DateTime), N'admin')
GO
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [DateOfBirth], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'f456d8c2-59d4-4e2a-8eb0-25620760614e', N'luongtran', N'luong.tran@gmail.com', N'123456', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'2017-09-17T10:53:35.257' AS DateTime), N'admin', CAST(N'2017-09-17T10:53:35.257' AS DateTime), N'admin')
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [DateOfBirth], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'7357f7b7-1703-478d-93a9-c82b64681eba', N'phamvan', N'van.pham@gmail.com', N'123456', CAST(N'1987-01-01T00:00:00.000' AS DateTime), CAST(N'2017-09-17T00:00:00.000' AS DateTime), N'admin', CAST(N'2017-07-17T00:00:00.000' AS DateTime), N'admin')
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF_Cities_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cities] ADD  CONSTRAINT [DF_Cities_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Districts] ADD  CONSTRAINT [DF_Districts_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Districts] ADD  CONSTRAINT [DF_Districts_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_District_City] FOREIGN KEY([CityCode])
REFERENCES [dbo].[Cities] ([CityCode])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_District_City]
GO
