<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyCountryEntities" connectionString="data source=DESKTOP-RMM4EB1\SQLEXPRESS;initial catalog=MyCountry;persist security info=True;user id=sa;password=nghiluc@174;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LoginEntities1" connectionString="data source=DESKTOP-RMM4EB1\SQLEXPRESS;initial catalog=MyCountry;persist security info=True;user id=sa;password=nghiluc@174;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>